.card-title {
	text-align: center;
}

html {
	scroll-behavior: smooth;
}

* {
	font-family: "Noto Sans Runic", sans-serif;
}

h1,h2,h3,h4, .nav-link,.card-title {
	font-family: "Skranji", sans-serif;
}

.navbar-brand {
	font-family: "Skranji", sans-serif;
	font-weight: 600;
}

.nav-item {
	font-weight: 600;
}

#viking-ship-flip {
	transform: scaleX(-1)
}

#img-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    z-index: -1; 
    object-fit: cover;
}

#footer-icon-right {
/*	filter: invert(100%);*/
	transform: scaleX(-1);
}

#tools {
	background-color: rgba(0, 99, 0, 0.1);
}

.navbar {
	background-color: black;
	text-shadow: 1px 1px white;
}

#landing {
	background-color: rgba(25, 25, 25, 0.7);
}

@media (max-width: 991px) {
  .navbar {
    background-color: transparent !important;
  }
}